<div class="container">

          <% if current_user && current_user.has_postmen_of?(@job) %>
            <%= link_to("已应征", new_job_resume_path(@job), class: "btn btn-xs btn-default disabled pull-right", method: :get) %>
          <% else %>
            <%= link_to("应征", new_job_resume_path(@job), class: "btn btn-xs btn-default pull-right", method: :get) %>
          <% end %>

            <% if current_user && current_user.is_member_of?(@job) %>
            <%= link_to("取消收藏", quit_job_path(@job), method: :post, class: "btn btn-xs btn-default pull-right") %>
        <% else %>
            <%= link_to("收藏",join_job_path(@job), method: :post, class: "btn btn-xs btn-default pull-right" ) %>
            <% end %>
        </div>
        <hr />
<h1> <%= @job.title %> </h1>




<hr /><br />
<p>
        <h2>需求描述：</h2>
        <blockquote id="description">
            <%= simple_format(@job.description) %>
        </blockquote>
    </p>
</div>
